<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie-edge"/>  
        <title>::Empleados::</title>
        <!--<th:block th:include="layout/header"></th:block>-->
        <link rel="stylesheet" href="">
        <script src=""></script>
    </head>
<body>
<h1>
    Empleados
</h1>
<div th:if="${!empleados.isEmpty()}">
    <span>Hay empleados</span>
    <table>
            <thead >
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Departamento</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="emp : ${empleados}">
                    <td th:text="${emp?.id}"></td>
                    <td th:text="${emp?.nombre}"></td>
                    <td th:text="${emp?.apellido}"></td>
                    <td th:text="${emp?.departamento}"></td>
                    <td th:text="${emp?.salario}"></td>
                </tr>
            </tbody>
    </table>
</div>
<!--<div th:include="layout/footer"></div>-->
</body>
</html>
