<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie-edge"/>  
        <title>::Calculador Spring::</title>
        <th:block th:include="layout/header"></th:block>
        <link rel="stylesheet" href="">
        <script src=""></script>
    </head>
<body>
<h1>
    <span th:text="${nombre}"></span>
</h1>
<span th:text="${fecha}"></span>
    <div>
        <ul>
            <li> <a th:href="@{/calculador/empleados}" target="_blank">Empleados</a></li>
            <li> <a th:href="@{/calculador/autores}" target="_blank">Autores</a></li>
        </ul>
    </div>
<div th:include="layout/footer"></div>
</body>
</html>
